<!DOCTYPE html>
<html>
<head>
	<title>NCAA Index</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>

	<h1 class='title-header'>NCAA Top 25 Pick'em</h1>
	
	<div class='main-card main flex-container column'>
		<div class='flex-container row'>
			
			
			<div class='flex-container secondary-card tab column'>
				<% for(var i = 1; i < totWeeks+1; i++){ %>
					<% var classString = 'tab-item center'; %>
					<% if(i === 1){ %>
						<% classString += ' top'; %>
					<% } %>
					<% if(i == week){ %>
						<% classString += ' active'; %>
					<% } %>
					<% var hrefString = '/ranks/' + i; %>
					<div class='<%=classString%>'>
						<a class='tab-link' href='<%=hrefString%>'><%=i%></a>
					</div>
				<% } %>
				
				<% for(var i = 1; i < 4; i++){ %>
					<% var classString = 'tab-item center'; %>
					<% if(i === 1){ %>
						<% classString += ' top'; %>
					<% } %>
					<% if(i == week){ %>
						<% classString += ' active'; %>
					<% } %>
					<% var hrefString = '/ranks/' + i; %>
					<a class='<%=classString%>' href='<%=hrefString%>'><%=i%></a>
				<% } %>
				
			</div>

				<div class='flex-container team column'>

					<h2>Week <%= week %> Standings</h2>

					<% standings.forEach(function(place, index){ %>
						<% var imgString = '/resources/place-' + (index+1) + '.png' %>
						<div class='flex-container row center standings'>
							<span class='flex-container row center'> <img class='flex-container column center standings-rank' src='<%=imgString%>'> </span>
							<span class = 'standings-spacer'></span>
							<h3 class = 'standings-name left'> <%= place.name %> </h3>
							<h3 class = 'standings-score right'> <%= place.score %> points</h3>
						</div>
					<% }) %>

					<h2>Team Rankings</h2>

					<div class='flex container column'>
						<div class='flex-container rank-item row'>
							<span class='rank-container center ion-ribbon-a icon'></span>
							<span class='image-container center icon'></span>
							<span id="spacer1"></span>
							<span class='team-container left ion-ios-americanfootball icon'></span>
							<span id="spacer2"></span>
							<span class='owner-container left ion-person icon'></span>
						</div>

						<% ranks.forEach(function(rank, index){ %>
						<% if(index != 24){ %>
							<% var imgURL = 'https://b.fssta.com/uploads/content/dam/fsdigital/fscom/global/dev/static_resources/ncaaf/teams/retina/' + rank.imgNumber + '.vresize.48.48.medium.0.png' %>
							<div class='flex-container rank-item row secondary-card'>
								<!-- Insert rank card items here. -->
									<span class='rank-container center'><%=rank.rank%></span>
									<span id="spacer1"></span>
									<span class='image-container center'><img class='logo' src="<%= imgURL %>" style="height:100%;"></span>
									<span class='team-container left'><%=rank.team%></span>
									<span id="spacer2"></span>
									<span class='owner-container left'><%=rank.owner%></span>
							</div>
						<% } %>
						<% }); %>
					</div>
				</div>

		</div>
	</div>
	
	<script type="text/javascript" src="/scripts/rank.js"></script>
</body>
</html>