<!DOCTYPE html>
<html>
<head>
	<title>NCAA Index</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/input.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/checkbox.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/form.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/button.min.css">

</head>
<body>

	<h1 class='title-header'>NCAA Top 25 Pick'em</h1>
	
	<div class='main-card main flex-container column'>
		<div class='flex-container row'>
			
			<div class='flex-container secondary-card tab column'>
				<div class='tab-item center top'>
					<a class='tab-link' href='/ranks/bracket/evan'>E</a>
				</div>
				
				<div class='tab-item center'>
					<a class='tab-link' href='/ranks/bracket/gary'>G</a>
				</div>
				
				<div class='tab-item center'>
					<a class='tab-link' href='/ranks/bracket/joe'>J</a>
				</div>
				
				<div class='tab-item center'>
					<a class='tab-link' href='/ranks/bracket/ken'>K</a>
				</div>
				
			</div>

				<div class='flex-container team column'>

					<h2>Week <%=schedule.week%> Schedule</h2>
					
					<div class="ui form">
	  					<div class="inline center fields">
	  						<% var nameArray = ['Evan', 'Ken', 'Gary', 'Joe']; %>
	  						<% for(var i = 0; i < nameArray.length; i++){ %>
	  							<div class='field button'>
									<div class="ui radio checkbox">
							        	<input type="radio" name="player" value="<%=nameArray[i]%>">
							        	<label><%=nameArray[i]%></label>
							        	<span  ></span>
							      	</div>
								</div>
	  						<% } %>
	  					</div>
  					</div>
					
				
					<% var scheduleArray = schedule['schedule'] %>
					<% for(var i = 0; i < scheduleArray.length; i++){ %>
						<div class='schedule-row flex-container row'>
							<div class='schedule-card secondary-card' id='<%="game" + i + "a"%>'>
								<img class='schedule-logo-left' src="<%=scheduleArray[i].away.image%>">
								<span class='schedule-secondary-left'><%=scheduleArray[i].away.rank%> <%=scheduleArray[i].away.city%></span>
								<span class='schedule-primary-left'>
									<span class='record'><%=scheduleArray[i].away.record%></span>
									<span class='team-name'><%=scheduleArray[i].away.team%></span>	
								</span>
							</div>
							<div class='schedule-middle flex-container col center'>
								<span class='vs'>VS.</span>
								<div class='flex-container row center'>
									<% if(scheduleArray[i].away.spread < 0 ){ %>
										<% var spread = scheduleArray[i].away.spread * -1; %>
										<span class='ion-arrow-left-b'></span>
										<span class='spread'> <%=spread%></span>
									<% } else{ %>
										<% var spread = scheduleArray[i].home.spread * -1; %>
										<span class='spread'><%=spread%> </span>
										<span class='ion-arrow-right-b'></span>
									<% } %>
									
								</div>
							</div>
							<div class='schedule-card secondary-card' id='<%="game" + i + "b"%>'>
								<img class='schedule-logo-right' src="<%=scheduleArray[i].home.image%>">
								<span class='schedule-secondary-right'><%=scheduleArray[i].home.rank%> <%=scheduleArray[i].home.city%></span>
								<span class='schedule-primary-right'>
									<span class='team-name'><%=scheduleArray[i].home.team%></span>
									<span class='record'><%=scheduleArray[i].home.record%></span>
								</span>							
							</div>
						</div>
					<% } %>	
					
					<div class='flex-container row center'>
						<button class="ui primary button small" style="width: 40%" onClick='savePredictions(<%= schedule.week %>)'>Save Predictions</button>
					</div>
				</div>

		</div>
	</div>
	<script type="text/javascript" src='/scripts/bracket.js'></script>
</body>
</html>